<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <p>You're logged in with Airport !!</p>

        <div class="row p-4" >

            <button (click)="createAirportDummy()"> Add 5 Airport</button>
        </div>
        <div class="row p-4">
            <button (click)="createAircraftDummy()"> Add 5 Aircraft</button>
        </div>

        <div class="row p-4">
            <button (click)="removeAllTransaction()"> Remove all Transcation</button>
        </div>



    </div>
</div>