<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noarchive">

</head>

<body  style="background:#180334;">

    <div>
        <div>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%; background:#180334;font-size:0px; " >
                <tbody>
                    <tr>
                        <td>
                            <div style="margin:0px auto;">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="border:0px solid #ffffff;font-size:0px;padding:20px 0px 0px 0px;padding-bottom:0px;padding-left:0px;padding-right:0px;text-align:center;">
                                                <div class="mj-column-per-100 mj-outlook-group-fix"
                                                    style="font-size:0px;text-align:left;vertical-align:top;width:100%;">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        style="vertical-align:top;" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="background:#180334;font-size:0px;padding:40px 25px 10px 25px;padding-top:40px;padding-right:25px;padding-bottom:10px;padding-left:25px;">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="width:102px;"><img alt=""
                                                                                        src="https://xgrol.mjt.lu/tplimg/xgrol/b/xr5jz/3qlz.png"
                                                                                        style="border:none;text-decoration:none;height:auto;font-size:13px;"
                                                                                        width="102"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="background:#FFFFFF;background-color:#FFFFFF;margin:0px auto;">
                <table align="center" border="0" cellpadding="0" cellspacing="0"
                    style="background:#FFFFFF;background-color:#FFFFFF;width:100%;">
                    <tbody>
                        <tr>
                            <td
                                style="border:0px solid #ffffff;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:center;">
                                <div class="mj-column-per-100 mj-outlook-group-fix"
                                    style="font-size:0px;text-align:left;vertical-align:top;width:100%;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0 0 0 0;">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="background:#180334;font-size:0px;padding:20px 25px 0px 25px;padding-top:20px;padding-right:25px;padding-bottom:0px;padding-left:25px;">
                                                                    <div
                                                                        style="font-family:Arial, sans-serif;font-size:24px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                                                                        <p class="text-build-content"
                                                                            style="text-align:center;margin:10px 0;margin-top:10px;margin-bottom:10px;">
                                                                            <!-- <span
                                                                                style="color:#00F2DB;font-family:Arial;font-size:24px;line-height:16px;">تم التحقق من البريد افلكتروني</span></p> -->
                                                                            <span
                                                                                style="color:#00F2DB;font-family:Arial;font-size:24px;line-height:16px;">تم التحقق من البريد الإلكتروني</span></p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="background:#180334;font-size:0px;padding:25px 25px 20px 25px;padding-top:25px;padding-right:25px;padding-bottom:20px;padding-left:25px;">
                                                                    <div
                                                                        style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:30px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    </div>
    </div>



</body>

</html>